*{
    margin: 0px;
    padding: 0px;
    }
    body{
    background: white;
    }
    #header{
    width: 100%;
    height: 80px;
    background: #333;
    box-shadow: 0px 2px 4px gray;
    }
    img{
        max-width: 100%;
        height: 90px;
        margin-top: 2px;
        margin-bottom: 0px;
    }
        
    
    #logo{
    width:200px;
    height: 80px;
    float: left;
    padding-left:40px;
    }
    #navbar{
    width:1000px;
    height: 80px;
    margin: 0px auto;
    float: center;
    }
    #navbar>li{
    float: left;
    list-style: none;
    width: 190px;height: 80px;
    border-right:1px solid #534444;
    border-left: 1px solid #534444;
    }
    li>a{
    text-decoration: none;
    color: white;
    font-family:  cursive;
    font-size: 20px;
    line-height: 80px;
    display: block;
    text-align: center;
    }
    li>a:hover,
    li>a:focus{
    background: skyblue;
    color: #333;
    }

    .wrapper{
        width:600px;
        margin: 0 auto 0 auto;
    }
    
    .course{
        text-align: center;
        background-color: #7ee0ee;
    }

    .container {
    width:100%;
    }

    .btn-group .button {
    background-color: lightseagreen;
    border: 1px solid skyblue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    display: block;
    margin-left: 5px;
    }

    .inf{
        background-color: lightgray;
        padding: 20px;
    }
    .inf > h2 {
        text-decoration: underline;
    }


 
    
@media screen and (max-width:1260px){
    #logo>img{
    width:150px;
    height: 30px;
    float: left;
    padding-left:20px;
    padding-top: 10px;
    }
    #navbar{
    width:800px;
    height: 80px;
    margin: 0px auto;
    float: center;
    }
    #navbar>li{
    float: center;
    list-style: none;
    width: 150px;
    height: 80px;
    border-right:1px solid #534444;
    border-left: 1px solid #534444;
    }
    li>a{
    text-decoration: none;
    color: white;
    font-family: cursive;
    font-size: 20px;
    line-height: 80px;
    display: block;
    text-align: center;
    }
    }
@media screen and (max-width:1060px){
    #header{
    width: 100%;
    height: 80px;
    background: #333;
    box-shadow: 0px 2px 4px gray;
    position:relative;top:80px;
    }
    #logo{
    width:100%;
    height: 90px;
    float: center;
    padding-left:20px;
    padding-top: 10px;
    position: absolute;
    top:-90px;
    background: white;
    display: none;
    }
    #navbar{
    width:100%;
    height: 60px;
    margin: 0px auto;
    }
    #navbar>li{
    width: 18%;
    }
    li>a{
    font-size: 16px;
    }
    .jumbotron{
    width: auto;
    margin-top: 100px;
    }



@media screen and (max-width: 480px){
    #header{
    width: 100%;    
    height: 60px;
    }
#navbar{
    width:100%;
    height: 60px;
    float: none;
    margin: 0px auto;
    margin-top:-40px;
    /*display: none;*/
    }
#navbar>li{
    float: none;
    list-style: none;
    width: 100%;
    height: 50px;
    background: #333;
    border-bottom: 1px solid skyblue;
    }

li>a{
    display: block;
    color: white;
    line-height: 60px;
    font-size: 16px;
    background: #333;
}

.wrapper{
    width:auto;
    margin: 0 auto 0 auto;
}
.jumbotron{
    width: auto;
    margin-top: 250px;
    height: auto;
}

.inf{
    margin-top: 200px;
    
}




